body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.matriz {
  display: flex;
  justify-content: center;
}

.rotacao {
  margin-top: 20px;
  text-align: center;
}
